<p style="color: green"><%= notice %></p>

<%= render @weather %>

<div>
  <%= link_to "Edit this weather", edit_weather_path(@weather), class: "btn btn-outline-dark" %> |
  <%= link_to "Back to weather records", weathers_path, class: "btn btn-outline-dark" %>

  <%= button_to "Delete this weather record", @weather, class:"btn btn-outline-dark", method: :delete %>
</div>
