<p style="color: green"><%= notice %></p>

<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <%= render @weather %>

      <div class="row">
        <div class="col col-sm-4">
          <%= link_to "Edit this weather", edit_weather_path(@weather), class: "btn btn-outline-dark" %> 
          <%= link_to "Back to weather records", weathers_path, class: "btn btn-outline-dark" %>
        </div>
        <div class="col">
          <%= button_to "Delete this weather record", @weather, class:"btn btn-outline-danger", method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
